body{
    background-color: #333333;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

div .container-element{
    width: 100%;
    height: 100vh;
    display: block;
}

div .container-element .content .fp-tableCell{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div .container-element .content h1{
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

div .container-element .content h2{
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

div .container-element .content span{
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 50px;
}

div .container-element .content a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    cursor: pointer;
}

div .container-element .content a::before{
    content: '';
    display: block;
    position: relative;
    background-color: #ffffff;
    width: 20px;
    right: -1px;
    height: 1px;
    transform: rotate(30deg);
}

div .container-element .content a::after{
    content: '';
    display: block;
    position: relative;
    background-color: #ffffff;
    width: 20px;
    left: -1px;
    height: 1px;
    transform: rotate(150deg);
}

div .container-element .content-secondary .fp-tableCell{
    width: 100%;
    height: 100%;
    display: flex;
}

div .container-element .content-secondary a{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
}

div .container-element .content-secondary a:hover{
    width: 50%;
    height: 100%;
    background-image: url('../img/bg-dev-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadein 1.5s;
    color: black;
}

@keyframes fadein{
    from {opacity: 0;}
    to   {opacity: 1;}
}

div .container-element .content-third .fp-tableCell{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(ellipse 70% 50% at 30% 50%,#ec5d21,transparent);
}

div .container-element .content-third.maubou .fp-tableCell{
    background: radial-gradient(ellipse 70% 50% at 30% 50%,#ffffff,transparent);
}

div .container-element .content-third.wiz .fp-tableCell{
    background: radial-gradient(ellipse 70% 50% at 30% 50%,#86dea8,transparent);
}

div .container-element .content-third div.content-image{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: calc(100% - 444px);
}

div .container-element .content-third div.content-image picture {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

div .container-element .content-third div.content-image picture img{
    position: relative;
    float: right;
    width: 827px;
    height: 495px;
    transform: perspective(400px) rotateY(15deg);
}

div .container-element .content-third article{
    width: 444px;
    max-width: 650px;
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: center;
}

div .container-element .content-third article h2{
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
}

div .container-element .content-third article p{
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
}

div .container-element .content-third article a{
    border-top: 1px solid #ffffff;
    font-size: 18px;
    color: #fff;
    padding: 18px 0;
    text-decoration: none;
    font-weight: 800;
    display: flex;
    align-items: center;
}

div .container-element .content-third article a::before{
    content: '';
    width: 16px;
    height: 3px;
    display: block;
    background-color: #fff;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
}

div .container-element .content-third article a::after{
    content: '';
    width: 16px;
    height: 3px;
    display: block;
    background-color: #fff;
    position: absolute;
    right: 0;
}

/* RIGHT CONTENT */

div .container-element .content-third.right .fp-tableCell{
    width: 90%;
    margin-left: 10%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(ellipse 70% 50% at 70% 50%,#2a688d,transparent);
}

div .container-element .content-third.gas.right .fp-tableCell{
    background: radial-gradient(ellipse 70% 50% at 70% 50%,#dfc4a8,transparent);
}

div .container-element .content-third.drake.right .fp-tableCell{
    background: radial-gradient(ellipse 70% 50% at 70% 50%,#f260fa,transparent);
}

div .container-element .content-third.right div.content-image{
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    left: unset;
    width: calc(100% - 444px);
}

div .container-element .content-third.right div.content-image picture {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

div .container-element .content-third.right div.content-image picture img{
    position: relative;
    float: left;
    width: 827px;
    height: 495px;
    transform: perspective(400px) rotateY(-15deg);
}

div .container-element .content-third.right article{
    width: 444px;
    max-width: 650px;
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    justify-content: center;
}

div .container-element .content-third.right article h2{
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
}

div .container-element .content-third.right article p{
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
}

div .container-element .content-third.right article a{
    border-top: 1px solid #ffffff;
    font-size: 18px;
    color: #fff;
    padding: 18px 0;
    text-decoration: none;
    font-weight: 800;
}

body div .container-element .fp-slides .fp-slidesContainer{
    transform: unset !important;
    transition: unset !important;
}

div .container-element .content-four{
    width: 90%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    float: unset;
}
div .container-element .content-four .fp-tableCell{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div .container-element .content-four .fp-tableCell .about-me{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .container-element .content-four .fp-tableCell .about-me picture{
    width: 300px;
    height: 300px;
    display: block;
    margin-bottom: 25px;
}

div .container-element .content-four .fp-tableCell .about-me picture img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

div .container-element .content-four .fp-tableCell .about-me article{
    height: unset;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 36px;
    text-transform: uppercase;
}

div .container-element .content-four .fp-tableCell .about-me article h2{
    margin: 0;
    font-weight: 800;
}

div .container-element .content-four .fp-tableCell .about-me article h3{
    margin: 0;
    font-weight: 400;
}

div .container-element .content-four .fp-tableCell article{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .container-element .content-four .fp-tableCell article h2{
    margin: 0;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

div .container-element .content-four .fp-tableCell article span{
    margin: 25px 100px;
    margin-bottom: 0;
    font-size: 18px;
    text-align: justify;
    color: #fff;
}

div .container-element .content-four .fp-tableCell article section.social-links{ 
    border-top: 1px solid #fff;
    margin: 25px 100px;
    padding: 0 25px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div .container-element .content-four .fp-tableCell article section.social-links li{ 
    list-style: none;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

div .container-element .content-four .fp-tableCell article section.social-links li a{ 
    text-decoration: none;
    color: #fff;
}

div .container-element .content-four .fp-tableCell article section.social-links li a#git::after{ 
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('../img/github-min.png');
    background-size: contain;
    background-repeat: no-repeat;
}
div .container-element .content-four .fp-tableCell article section.social-links li a#codepen::after{ 
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('../img/codepen-min.png');
    background-size: contain;
    background-repeat: no-repeat;
}
div .container-element .content-four .fp-tableCell article section.social-links li a#mail::after{ 
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('../img/mail-min.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
div .container-element .content-four .fp-tableCell article section.social-links li a#linkedin::after{ 
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('../img/linkedin-min.png');
    background-size: contain;
    background-repeat: no-repeat;
}

div .container-element .content-five{
    width: 90%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    float: unset;
}

div .container-element .content-five .fp-tableCell{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
}

body #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 5px;
    height: 5px;
    margin: -2px 0 0 -2px;
}

body #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
}

body #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
}

body #fp-nav ul, .fp-slidesNav ul {
    background-color: #33333385;
    width: 20px;
    display: flex;
    flex-direction: column;
    height: 275px;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

div .container-element.footer footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    color: #474747;
}


@media only screen and (min-width: 1440px){
    div .container-element .content-third div.content-image{
        width: calc(100% - 520px);
    }
    div .container-element .content-third div.content-image picture {
        right: 0px;
    }
    div .container-element .content-third div.content-image picture img{
        width: 1157.8px;
        height: 693px;
    }
    /* RIGHT CONTENT */
    div .container-element .content-third.right div.content-image{
        width: calc(100% - 520px);
    }
    div .container-element .content-third.right div.content-image picture {
        right: 0px;
    }
    div .container-element .content-third.right div.content-image picture img{
        width: 1157.8px;
        height: 693px;
    }
}

@media only screen and (min-width: 1792px){
    div .container-element .content-third div.content-image{
        width: calc(100% - 688px);
    }
    div .container-element .content-third div.content-image picture {
        right: 0px;
    }
    div .container-element .content-third div.content-image picture img{
        width: 1654px;
        height: 990px;
        left: unset;
    }
    /* RIGHT CONTENT */
    div .container-element .content-third.right div.content-image{
        width: calc(100% - 688px);
    }
    div .container-element .content-third.right div.content-image picture {
        right: 0px;
    }
    div .container-element .content-third.right div.content-image picture img{
        width: 1654px;
        height: 990px;
        left: unset;
    }
}



.text, .image{
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}

.text.not-visible, .image.not-visible{
    transform: translateY(50px);
    opacity: 0;
}